.countries {
    padding: 100px 0;
}
.countries__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 31px;
}
.countries__item {
    border: 1px solid #D9D9DE;
    border-top: none;
}
.countries__img {
    display: block;
}
.countries__subtitle {
    font-size: 16px;
    line-height: 19px;
    padding: 12px 19px 19px;
}