.map {
    padding-bottom: 100px;
}
.map__title {
    margin-bottom: 46px;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}
.map__iframe {
    width: 1120px;
    height: 610px;
}