.offer {
    background: #E5E5E5;
}
.offer__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #1F1E1E;
   padding-top: 69px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}
.offer__inner {
    margin-bottom: 82px;
    
}
.offer__link {
}
.offer__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 16px 20px;
    text-transform: uppercase;
}
.offer__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
.country {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
.time {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
