// style default
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 140%;
    font-size: 18px;
    font-weight: 400;
    color: #1f1e1e;
    // scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
// end style default
@import 'fonts';

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

@import 'header';
@import 'countries';
@import 'direction';
@import 'offer';
@import 'map';
@import 'info';
@import 'gallary';
